* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sono", sans-serif;
  background-color: #292524;
  color: #fafaf9;
  padding: 40px;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.fact-form {
  background-color: #44403c;
  margin-bottom: 40px;
  padding: 16px 40px;
  text-align: center;
}

h1 {
  font-family: "Coiny", sans-serif;
  font-size: 42px;
  text-transform: uppercase;
  margin-top: 6px;
}

.fact-list {
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 24px;
}

.tag {
  font-family: "Coiny", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

ul {
  list-style: none;
}
